SHELL=/bin/bash
MAILTO=mirror@localhost
PATH=/bin:/usr/bin:/usr/local/bin:/srv/mirrors/bin

# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed

#Ubuntu
 7 */2	* * * 		mirror ftpsync sync:archive:ubuntu
11 1,13	* * * 		mirror ftpsync sync:archive:ubuntu-releases

#Fedora
23 */2	* * * 		mirror simplersync repo:fedora
 7 1,5,9,13,17,21 * * *	mirror simplersync repo:epel

#CentOS
 7 3,9,15,21 * * *	mirror simplersync repo:centos

#Deepin
23 1,5,9,13,17,21 * * *	mirror ftpsync sync:archive:deepin

#Archlinux
43 */2	* * *		mirror simplersync repo:archlinux

#Opensuse
43 1,5,9,13,17,21 * * *	mirror simplersync repo:opensuse

#Debian
 7 */2	* * *		mirror ftpsync sync:archive:debian-security
 7 1,5,9,13,17,21 * * *	mirror ftpsync sync:archive:debian-backports
43 1,5,9,13,17,21 * * *	mirror ftpsync sync:archive:debian
23 3,9,15,21 * * *	mirror ftpsync sync:archive:debian-multimedia
